.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(2);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border-color: #2196f3;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}
.modal-input:hover + .modal-icon {
  fill: #2196f3;
}

.input-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.coment-wrap {
  margin-bottom: 20px;
}

.coment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250px cubic-bezier(0.4, 0, 0.2, 1), outline 250px cubic-bezier(0.4, 0, 0.2, 1);
}
.coment:focus, .coment:hover {
  border-color: #2196f3;
  outline: #2196f3;
}

.coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.checkbox-wrap {
  display: flex;
  align-items: baseline;
}

.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
}

.checkbox-link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  text-decoration: underline;
  margin-left: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-left: 13px;
}

.checkbox-input:checked + .checkbox .icon-checkbox {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}

.button-send {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn-send {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px 52px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send:hover, .btn-send:focus {
  background-color: #188ce8;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  text-align: center;
}

.header-container {
  display: flex;
  text-align: center;
}

.logo {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-web {
  color: #2196f3;
}

.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
}

.list {
  display: flex;
  gap: 50px;
  margin-right: 318px;
}
.list .link.current {
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: #2196f3;
}

.communication {
  display: flex;
  gap: 30px;
  align-items: center;
}

.communication-icon {
  fill: currentColor;
  margin-right: 10px;
}

.current::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  display: block;
  margin-bottom: 20px;
}
.logo-footer:focus {
  color: #2196f3;
}

.link-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map:hover, .footer-map:focus {
  color: #2196f3;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:focus, .footer-link:hover {
  color: #2196f3;
}

.join {
  margin-left: 70px;
}

.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  color: #ffffff;
}

.join-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover, .join-link:focus {
  background-color: #2196f3;
}

.sign {
  margin-left: 93px;
}

.sign-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  color: #ffffff;
  margin-bottom: 20px;
}

.sent-form {
  display: flex;
  gap: 12px;
}

.user-mail-footer {
  min-width: 358px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.user-mail-footer:focus, .user-mail-footer:hover {
  border-color: #2196f3;
  outline: #2196f3;
}
.user-mail-footer::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.user-mail-footer:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.user-mail-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.btn-sent {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: inline-flex;
  padding: 10px 28px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-sent:focus, .btn-sent:hover {
  background-color: #188ce8;
}

.icon-sent {
  fill: #ffffff;
  margin-left: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
}

.button-order {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover, .button-order:focus {
  background-color: #188ce8;
}

.features-section__list {
  display: flex;
}

.features-section__item {
  margin-right: 30px;
}
.features-section__item:last-child {
  margin-right: 0;
}

.features-section__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
}

.features-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
}

.features-section__box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.works-section .section {
  padding-top: 0;
}

.works-section__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.works-section__image {
  flex-basis: calc(33.3333333333% - 30px);
  position: relative;
}

.works-section__wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-section__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employee {
  flex-basis: calc(25% - 30px);
  text-align: center;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 30px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 10px;
  margin-bottom: 16px;
}

.networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
}

.networks {
  width: 44px;
  height: 44px;
}

.networks-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover, .networks-link:focus {
  background-color: #2196f3;
}

.networks-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover .networks-icon {
  fill: #ffffff;
}
.networks-link:focus .networks-icon {
  fill: #ffffff;
}

.client-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-logo {
  fill: currentColor;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__link:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button--all {
  padding: 6px 25px;
}

.filter-list__button {
  background-color: #f5f4fa;
  color: #212121;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
  border-radius: 4%;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  flex-basis: calc(11.1111111111% - 30px);
  background: #ffffff;
}

.card-list__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-list__link:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list__overlay {
  position: relative;
  overflow: hidden;
}

.card-list__overlay-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.card-list__link:hover .card-list__overlay-text {
  transform: translateY(0);
}
.card-list__link:focus .card-list__overlay-text {
  transform: translateY(0);
}

.project {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__view {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}/*# sourceMappingURL=main.css.map */