.footer {
  background-color: #2f303a;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.logo-footer {
  color: $primary-white-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666;
  display: block;
  margin-bottom: 28px;
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.1923;
  }
}
.link-address:not(:last-child) {
  margin-bottom: 12px;
}
.footer-map {
  color: $primary-white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
