.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.employee {
  flex-basis: calc(100% / 4 - 30px);
  text-align: center;
  padding-bottom: 30px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 30px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin-top: 10px;
  margin-bottom: 16px;
}
.networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $primary-white-color;
}
.networks {
  width: 44px;
  height: 44px;
}
.networks-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.networks-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .networks-link:hover & {
    fill: $primary-white-color;
  }
  .networks-link:focus & {
    fill: $primary-white-color;
  }
}
